.worm {
    width: 122px;
    height: 122px;
    position: relative;
    -webkit-animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(360deg);}
    to   {-webkit-transform: rotate(0deg);}
}
.worm1 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    width: 120px;
    height: 120px;
    border-width: 1px;
    border-style: solid;
    border-color: #1abc9c transparent transparent #1abc9c;
    border-radius: 65px;
}
.worm2 {
    position: absolute;
    top: 0;
    left: 10px;
    width: 100px;
    height: 100px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #2ecc71 #2ecc71 transparent;
    border-radius: 65px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.worm3 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 80px;
    height: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: #3498db transparent transparent #3498db;
    border-radius: 46px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.worm4 {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 60px;
    height: 60px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #9b59b6 #9b59b6 transparent;
    border-radius: 46px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.worm5 {
    position: absolute;
    bottom: 40px;
    left: 40px;
    width: 40px;
    height: 40px;
    border-width: 1px;
    border-style: solid;
    border-color: #f1c40f transparent transparent #f1c40f;
    border-radius: 46px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}
.worm6 {
    position: absolute;
    top: 40px;
    left: 50px;
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent #e67e22 #e67e22 transparent;
    border-radius: 46px;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}